body {
    width:100%;
    font-family:Helvetica Neue Light, Helvetica Neue, Helvetica, Arial;
    margin:0;
}

.player {
    width:100%;
}

.player .time {
    text-align:center;
    font-size:30px;
    font-weight:100;
    margin:0;
}

#player-one-start,
#player-one {
   transform: rotate(180deg); 
   -webkit-transform: rotate(180deg); 
}

.start-button {
    position:absolute;
    width:100%;
    font-weight:100;
    text-align:center;
    font-size:50px;
    margin-left:5px;
    display:none;
}
#player-one-start {
    top:30%;
}
#player-two-start {
    bottom:30%;
}
