body {
    width:100%;
    font-family:Helvetica Neue Light, Helvetica Neue, Helvetica, Arial;
    margin:0;
}

.player {
    width:100%;
}

.player .time {
    text-align:center;
    font-size:30px;
    font-weight:100;
    margin:0;
}

#player-one {
   transform: rotate(180deg); 
   -webkit-transform: rotate(180deg); 
}
